$cod-grey: #141414;
$scorpion: #5e5e5e;

html, 
body {
    width: 100%; 
    font-family: "Lato", sans-serif;
}

body {
    height: 100%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
        box-sizing: border-box;
}

h1, 
h2, 
h3, 
h4 {
    color: $cod-grey;
    font-weight: 400;
}

h1, 
h3, 
h4 {
    text-transform: uppercase;
}

img {
    max-width: 100%; 
}


a:link, 
a:visited, 
a:hover, 
a:active {
    text-decoration: none;
}

a:link, 
a:visited, 
a:hover, 
a:active, 
p {
    color: $scorpion;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 0 10px 0;
}

.header-logo{
    margin-top: 1rem;
    width: 4.5rem;
    height: 4.5rem;
}

.header-title {
    margin: 0;
    width: 100%;
    text-align: center;
    h1 {
        margin: 0.7rem 0 0.5rem;
        font-size: 2.2rem;
    }
    h3 {
        font-size: 1.2rem;
        margin: 0 0 0.4rem; 
    }
}

.introduction {
    max-width: 580px;
    text-align: center;
    font-weight: 300;
    line-height: 1.4;
    font-size: 1.2rem;
    margin: 2rem auto 2.5rem;
    /*.email {*/
        /*display: none;*/
    /*}*/
}

.header-line {
    display: none;
}

section{
    background-color: #eee;
    text-align: center;
    padding: 0 10px;
    h2 {
        padding: 1rem 0 0.5rem;
    }
    h4 {
        width: 100%;
        margin: 0.3rem 0;
    }
    .work-thumb { 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 2rem;
        img {
            width: 80%;
            align-self: flex-start;
        }
        .description{

        }
        .technologies{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            list-style: none;
            margin-top: 0;
            li{
                margin: 0.2rem 0.7rem;
            }
        }
    }
}
